/* 
    Document   : style
    Created on : 16 déc. 2013, 21:30:43
    Author     : MCarnaud
    Description:
        Purpose of the stylesheet follows.
*/
body
{
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 50px;
}

h5{
    font-size:16px;
}

.navbar{
    width:100%;
}

root { 
    display: block;
}

.form-start
{
    margin-top: 12%;
    margin-left: 20%;
    margin-right: 20%;
}
.titre-start
{
    text-align: center;
}

.cache
{
    margin-right: 5%; 
}

.menu-gauche
{
    margin-top: 10%;
    width: 100%;
    margin-left: 1%;
    padding-right: 2%;
}

.bande-gauche
{
    position: fixed;
    background-color: gainsboro;
    width: 15%;
    height: 100%;
}

.titreSection{
    text-align:center;
}

html {
    height: 100%;
}

.nouveau
{
    margin-top:2%;
    margin-left:15%;
}

.milieuPage{
    align:center;
    margin-left:20%;
    margin-right:20%;
}

.recherche
{
    margin-left: 18%;
    margin-right: 4%;
    margin-top: 2%; 
}

#logout{
    float:right;
    margin-top:2.5%;
    margin-right:24px;
}

.tableListe{
    margin-left:15%;
    width:85%;
}

.tableListe td:hover{
    cursor: pointer;
}

.tableHisto{
    margin-left:15%;
    width:85%;
}

#tableInterro1{
    margin-left:15%;
    width:42.5%;
    float:left;
}

#tableInterro2{
    width:42.5%;
    border-left: 3px solid #aaaaaa;
}

.table tbody tr:hover th {
    background-color: transparent;
}

#newMatiere{
    margin-top:1%;
}

/*
@media screen and (min-width: 200px) and (max-width: 680px) {
    .bande-gauche{
        width:100%;
        height:50px;
    }
}*/